<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/UE_RED_SEAL.png">
    <title>Tracking</title>

    <link rel="stylesheet" href="../CSS/admin.css">
</head>

<body>
    <button id="menu-toggle">☰</button>
    <section id = "sidebar">
        <div class="logo">
            <img src = "/images/UE_RED_SEAL.png" alt = "University of the East Logo">
            <h1>EduVault</h1>
            <h2>Structured Document Management System</h2>
            
        </div>
        
        <div class = "items">
            <li><a href="http://<%= localIP%>:<%= portNum%>/admin">Home</a></li>
            <li><a href="http://<%= localIP%>:<%= portNum%>/admin/track">Track</a></li>
            <li><a href="http://<%= localIP%>:<%= portNum%>/admin/message">Messages</a></li>
            <li><a href="http://<%= localIP%>:<%= portNum%>/admin/settings">Settings</a></li>
            <li><a href="http://<%= localIP%>:<%= portNum%>/admin/help">Help</a></li>
        </div>
    </section>

    <h2>Admin - Manage Requests</h2>

        <% if (requests && requests.length > 0) { %> 
            <table border="1">
                <tr>
                    <th>Student Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <% requests.forEach(request => { %>
                    <tr>
                        <td><%= request.studentName %></td>
                        <td><%= request.requestStatus %></td>
                        <td>
                            <form action="/approve-request/<%= request._id %>" method="POST">
                                <button type="submit">Approve</button>
                            </form>
                            <form action="/reject-request/<%= request._id %>" method="POST">
                                <button type="submit">Reject</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </table>
        <% } else { %> 
            <p>No requests found.</p>
        <% } %>
    <script src="/js/script.js"></script>    
</body>
</html>